NODE_ENV=development
APP_ENV=docker
PORT=4000
DB_URL=mongodb://mongodb:27017/holdem_dev
REDIS_HOST=redis
REDIS_PORT=6379
BASE_API_PATH=http://game-backend:4000/api/v1
FRONTEND_URL=http://game-frontend:3000
SYSTEM_BOT_PASSWORD=replace-with-local-dev-password
