NODE_ENV=
APP_ENV=
PORT=
DB_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
JWT_SECRET=
HASH_KEY=
BASE_API_PATH=
FRONTEND_URL=
BASE_URL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CURRENCY=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=
SYSTEM_BOT_EMAIL_DOMAIN=
SYSTEM_BOT_PASSWORD=replace-with-local-dev-password
